@tailwind base;
@tailwind components;
@tailwind utilities;


.typewriter {
  font-family: monospace;
  position: relative;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
  @apply lg:text-6xl
}


.typewriter::before,
.typewriter::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.typewriter::before {
  background: hsl(49 37% 94%);
  animation: 
    newwriter 6s steps(25) 1s forwards
}



.typewriter::after {
  width: 0.125em;
  background: black;
  animation: 
    newwriter 6s steps(25) 1s forwards, 
    blink 750ms steps(25) infinite
}

@keyframes blink {
  to {
    background: transparent;
  }
}


@keyframes newwriter {
  to {
    left: 100%;
  }
}

.title {
  height: 1000px;
  padding-top: 350px;
}

.subtitle {
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 8s forwards; 
  margin-top: 25px;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fig {
  height: 400px;
  border-radius: 30px;
}

.project {
  color: black;
  display: inline-block;
}

.btn {
  display: block;
  
}
